
@font-face {
    font-family:'ttf' ;
    src: url(../Font/Quicksand (1)/static/Quicksand-Bold.ttf);
} 

*{
    font-family:'ttf' ;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding ကြောင့် ဘောင်မကျော်အောင် ထိန်းပေးပါတယ် */

    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* start nav section */
.nav{
    display: flow-root; /* float သုံးထားရင် height မပျောက်အောင် ဒါကို သုံးရပါတယ် */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* သဘာဝကျသော အရိပ် */
    width: 100%;
}
.nav{
    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
} 
.nav-logo{
    float: left;
}
.nav-logo img{
    float: left;
    width: 130px;
    margin-left: 40px;
    margin-top: 10px;
}
.nav-logo ul, .nav-tag {
    list-style: none; /* အစက်လေးတွေ ဖျောက်ဖို့ */
    display: inline-block; /* Logo ဘေးမှာ ကပ်နေဖို့ */
    vertical-align: middle;
}

/* လူကြီးမင်း ရေးထားပြီးသား code တွေထဲက li နေရာမှာ ဒီအတိုင်း ဆက်ထားလို့ ရပါတယ် */
.nav-logo li, .nav-tag li {
    display: inline-block;
    /* ကျန်တဲ့ margin, padding တွေက အရင်အတိုင်းပဲ ထားပါ */
}
.nav-logo li{
    margin-top: 45px;
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.nav-left{
    display: inline-block;
}
.nav-tag{
    float: right;
}
.nav-tag li{
    margin-top: 45px;
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;

}
.nav-logo a{
    text-decoration: none;
    color: rgb(100, 58, 2);
}
.nav-tag a{
    text-decoration: none;
    color: rgb(100, 58, 2);
}
.singin, .joinnow {
    border: 1px solid rgb(147, 86, 7); 
    border-radius: 50px; /* ခလုတ်ကို ဝိုင်းဝိုင်းလေး ဖြစ်စေရန် */
    padding: 8px 20px !important;
    transition: 0.3s;
}
.singin{
    color: rgb(100, 58, 2) !important;
    border: 1px solid rgb(100, 58, 2);
}

.singin:hover{
    background-color:  rgba(101, 61, 8, 0.186);
    border: 1px solid rgb(100, 58, 2);
}
.joinnow {
    background-color:rgb(145, 84, 5);
    color: #ffffff !important;
    border-radius: 50px;
    border: 1px solid  rgb(100, 58, 2);
}

.find:hover{
    color:gray ;
}
.nav-left:hover{
    color:gray;
}
/* end nav section */
/* start bunner section */

.bunner-tag{
    width: 100%;
    margin-top: 150px;
} 

.bunner {
    display: grid;
    grid-template-columns: auto auto; /* စာသားကို နေရာပိုပေးပြီး ခလုတ်ကို သူ့ဆိုဒ်အတိုင်းထားခြင်း */
    justify-content: center;
    gap: 10px;
    background-color: rgb(100, 58, 2);
    width: 95%;
    padding: 30px 10px;
    margin: auto;
    /* align-items: center; စာနဲ့ ခလုတ်ကို အလယ်တည့်တည့် ညှိပေးပါတယ် */
    border-radius: 8px; /* ထောင့်လေးတွေ နည်းနည်းဝိုင်းရင် ပိုလှပါတယ် */
}

.bunner p{
    padding-left: 50px;
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}
.bunner a{ 
    border: 1px solid #ffffff;
    background-color:  rgb(100, 58, 2);
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    text-align: center;
}
.bunner a:hover{
    background-color:  rgb(138, 80, 4);
}
/* end bunner section */
/* start caramel section */
.caramel{
    padding-top: 80px ;
    width: 95%;
    display: flex;
    margin: auto;
}
.caramel-img{
    flex: 1;
}
.caramel-img img {
    width: 100%; /* ဗူးအပြည့်ယူရန် */
    height: 550px;
    object-fit: cover; /* ပုံမပြဲသွားစေရန် */
    display: block;
}
.caramel-about {
    background-color: #473203;
    flex: 1; /* ကျန်တဲ့ တစ်ဝက်ယူရန် */
    display: flex;
    flex-direction: column; /* စာသားများကို အပေါ်အောက်စီရန် */
    justify-content: center; /* စာသားများကို ဒေါင်လိုက် အလယ်ကွက်တိ ညှိရန် */
    padding: 40px; /* Padding ကို အချိုးကျပဲ ထားပါ */
}
.caramel-about h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    color: #ffffff;
    margin-bottom: 20px;
}
.caramel-about p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6; /* စာကြောင်းအကွာအဝေးကို ဖတ်ရလွယ်အောင် ညှိခြင်း */
    padding: 0 20px;
}
.caramel-about a{
    text-align: center;
    border:1px solid #ffffff ;
    padding: 12px 30px;
    background-color: #ffffff;
    color:  rgb(46, 33, 5);
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    border-radius: 50px;
    font-size: 20px;
}
.caramel-about a:hover{
    background-color:  rgb(157, 118, 32);
    transition-duration: 0.3s;
}
/* end caramel section */
/* start pistachio section */
.pistachio{
    padding-top: 80px ;
    width: 95%;
    display: flex;
    margin: auto;
}
.pistachio-img{
    flex: 1;
}
.pistachio-img img {
    width: 100%; /* ဗူးအပြည့်ယူရန် */
    height: 550px;
    object-fit: cover; /* ပုံမပြဲသွားစေရန် */
    display: block;
}
.pistachio-about {
    background-color: rgb(13, 67, 42);
    flex: 1; /* ကျန်တဲ့ တစ်ဝက်ယူရန် */
    display: flex;
    flex-direction: column; /* စာသားများကို အပေါ်အောက်စီရန် */
    justify-content: center; /* စာသားများကို ဒေါင်လိုက် အလယ်ကွက်တိ ညှိရန် */
    padding: 40px; /* Padding ကို အချိုးကျပဲ ထားပါ */
}.pistachio-about h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold; 
    color: #ffffff;
    margin-bottom: 20px;
}
.pistachio-about p {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6; /* စာကြောင်းအကွာအဝေးကို ဖတ်ရလွယ်အောင် ညှိခြင်း */
    padding: 0 20px;
}
.pistachio-about a{
    text-align: center;
    border:1px solid #ffffff ;
    padding: 12px 30px;
    background-color: #ffffff;
    color:  rgb(46, 33, 5);
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    align-self: center;
    border-radius: 50px;
    font-size: 20px;
}
.pistachio-about a:hover{
    background-color:  rgb(28, 246, 119);
    transition-duration: 0.3s;
}
/* end pistachio section */
/* start shop atmosphere section */
.shop-gallery{
    padding-top: 80px;
}
.gallery-title{
    text-align: center;
}
.gallery-title h3{
    font-size: 30px;
    color:  rgb(100, 58, 2);
}
.gallery-title p{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    color:  rgb(170, 130, 77);
}
.gallery-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 90%;
    margin: auto;

}
.gallery-item{
    border-radius: 15px;
    box-shadow: 0px 15px 45px rgba( 0 ,0 , 0, 0.11);
    overflow: hidden;
}
.gallery-item img{
    width: 100%;
    border-radius: 15px;
}
.gallery-item img:hover{
    transform: scale(1.12);
    transition-duration: 0.8s;
    box-shadow: 0px 15px 45px rgba( 0 ,0 , 0, 0.20);
}
#shopatmosphere{
    padding-top: 80px;
    width: 90%;
    margin: auto;
}

.shopatmosphere video{
    float: left;
    width: 800px;
}

.shopabout{
    float: right;
    width: 35%
}

.shopabout h3{
    padding: 30px 25px 20px 20px;
    padding-left: 20px;
    font-size: 30px;
    color: rgb(100, 58, 2) ;
}
.shopabout ul li{
    padding: 10px 20px 20px 20px;
    font-size: 20px;
    color:  rgb(100, 58, 2);
}
.shopabout ul{
    list-style: none;
}
.cleartwo{
    clear: both;
}
/* end shop atmosphere section */

/* start menu section */
#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
.hot-coffee{
    width: 75%;
    border-left: 1px solid rgb(52, 32, 5);
    padding-left: 40px;
}
.hot-coffeeimg-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.hot-coffeeimg-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}

#hot-coffee h2{
    text-align: center;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.hot-coffeeimg-wrapper img{
    box-shadow: 0px 15px 45px rgba(145, 84, 5, 0.5);
}
.hot-coffeeimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}


.hot-coffeeimg:hover{
    transform: scale(1.5);
}
.hot-coffeeimg-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 10px 0 10px 0;
}
.hot-coffeeimg-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end menu section */


/* start cake section */
#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
.cake{
    width: 75%;
    border-left: 1px solid rgb(52, 32, 5);
    padding-left: 40px;
}
.cake-img-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.cake-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius:20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}

#cake h2{
    text-align: center;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.cake-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.cake-img:hover{
    transform: scale(1.5);
}
.cake-img-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 10px 0 10px 0;
}
.cake-img-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end cake section */


/* start pizza section */
#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
.pizza{
    width: 75%;
    border-left: 1px solid rgb(52, 32, 5);
    padding-left: 40px;
}
.pizza-img-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}
.pizza-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}

#pizza h2{
    text-align: center;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.pizza-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.pizza-img:hover{
    transform: scale(1.5);
}
.pizza-img-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 20px 0 10px 0;
}
.pizza-img-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end pizza section */


/* start ice-cream section */

#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
.ice-cream{
    width: 75%;
    border-left: 1px solid rgb(52, 32, 5);
    padding-left: 40px;
}
.ice-cream-img-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}
.ice-cream-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}

.ice{
    text-align: center ;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.ice-cream-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.ice-cream-img:hover{
    transform: scale(1.5);
}
.ice-cream-img-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 20px 0 10px 0;
}
.ice-cream-img-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end ice-cream section */



/* start softdrink section */

#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    top: 150px;
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
.softdrink{
    width: 75%;
    border-left: 1px solid rgb(52, 32, 5);
    padding-left: 40px;
}
.softdrink-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}

.softdrink-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}
#softdrink h2{
    text-align: center ;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.softdrink-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.softdrink-img:hover{
    transform: scale(1.5);
}
.softdrink-img-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 20px 0 10px 0;
}
.softdrink-img-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end softdrink section */


/* start snack section */

#menu{
    padding-top: 150px;
    padding-bottom: 80px;
    width: 90%;
    margin: auto;
}
.menu-card{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.menu-title{
    top: 150px;
    width: 25%;
    position: sticky;
}
.menu-title li{
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
}
.menu-title li a{
    padding-left: 20px;
    text-decoration: none;
    color:rgb(134, 82, 14);
    font-weight: bold;
    width: 100%;
}
.menu-title h1{
    color:rgb(122, 73, 9) ;
    font-size: 30px;
    text-decoration: underline;
    padding-left: 30px;
    padding-bottom: 20px;
}
#snack{
    width: 75%;
    /* border-left: 1px solid rgb(52, 32, 5); */
    padding-left: 40px;
}
.snack-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
    width: 100%;
}

.snack-img-wrapper {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden; /* ပုံကို scale ချဲ့ရင် ဘောင်ထဲမှာပဲ ရှိနေစေဖို့ ဒီမှာထည့်ပါ */
    margin-bottom: 10px; /* ပုံနဲ့ စာသားကြား အကွာအဝေး */
}
#snack h2{
    text-align: center ;
    color:rgb(122, 73, 9) ;
    padding-bottom: 25px;
    font-size: 30px;
}
.snack-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.snack-img:hover{
    transform: scale(1.5);
}
.snack-img-container h4{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    padding: 20px 0 10px 0;
}
.snack-img-container p{
    text-align: center;
    color:rgb(122, 73, 9) ;
    font-size: 20px;
    margin-bottom: 70px;
}
/* end snack section */

/* start join section */

#sectionone{
    padding-top: 50px;
    padding-bottom: 80px;
    width: 40%;
    /* border: 1px solid #473203; */
    box-shadow: 0px 15px 45px rgba( 0 ,0 , 0, 0.20);
    margin: auto;
}
.sectionone h2{
    text-align: center;
    color:rgb(122, 73, 9) ;
    padding: 20px 0 20px 0;
    font-size: 30px;
}
#join{
    margin-top: 150px;
} 
.join{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color:rgb(122, 73, 9) ;
}
.creat{
    padding: 5px 10px;
    color: white;
    border: 1px solid #473203;
    padding: right;
    font-size: 25px;
    border-radius: 8px;
    background-color: #473203;
}

.join input[type="text"],.join input[type="email"],.join input[type="password"],.join input[type="number"]{
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgb(225, 219, 219);
}
.join input[type="text"]:focus,.join input[type="email"]:focus,.join input[type="password"]:focus,.join input[type="number"]:focus{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(122, 73, 9);
}
.password{
    font-size: 18px;
    margin-top: 10px;
    margin-top: 30px;
    margin-bottom: 40px;
}
/* end join section */


/* start singin section */

#sectiontwo{
    padding-top: 50px;
    padding-bottom: 80px;
    width: 40%;
    /* border: 1px solid #473203; */
    box-shadow: 0px 15px 45px rgba( 0 ,0 , 0, 0.20);
    margin: auto;
}
.sectiontwo h2{
    text-align: center;
    color:rgb(122, 73, 9) ;
    padding: 20px 0 20px 0;
    font-size: 30px;
}
#sing-in{
    margin-top: 150px;
} 
.sing-in{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color:rgb(122, 73, 9) ;
}
.createtwo{
    padding: 5px 10px;
    color: white;
    border: 1px solid #473203;
    padding: right;
    font-size: 25px;
    border-radius: 8px;
    background-color: #473203;
}

.forgot{
    padding: 20px 20px ;
}
.forgot a{
    font-size: 20px;
    color:rgb(122, 73, 9) ;
}
.sing-in input[type="text"],.sing-in input[type="email"],.sing-in input[type="password"],.sing-in input[type="number"]{
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid rgb(225, 219, 219);
}
.sing-in input[type="text"]:focus,.sing-in input[type="email"]:focus,.sing-in input[type="password"]:focus,.sing-in input[type="number"]:focus{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(122, 73, 9);
}

/* end singin section */


/* start store section */
#googlemaps{
    margin-top: 150px;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.googlemaps{
    width: 100%;
}
.zalatt{
    width: 100%;
}
.zalatt h2{
    font-size: 30px;
    padding: 40px 0 20px 0;
    text-align: center;
    color:rgb(100, 58, 2) ;
}
.zalatt h5{
    padding-top: 20px;
    padding-left: 20px;
    color:rgb(100, 58, 2) ;
    font-size: 20px;
}
.zalatt p{
    padding-left: 20px;
    color:rgb(100, 58, 2) ;
    padding-top: 20px;
    font-size: 20px;
}
.za{
    line-height: 15px;
    font-size: 15px;
}
/* end store section */


/* start reward section  */
     .reward{
        width:80%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
        margin: auto;
        padding-top: 150px;
     }
     .rewardimg{
        width: 50%;
        object-fit: cover; 
        box-shadow: 15px 30px 45px rgba(21, 19, 19, 0.8);
     }
     .rewardimg img{
        border-radius: 30px;
     }
     .rewardabout{
        width: 100%;
        /* border: 1px solid #885e04; */
        padding: 50px;
     }

     .rewardabout h2{
        font-size: 30px;
        background-color:rgb(145 84 5);
        box-shadow: 0px 15px 45px rgba(66, 61, 61, 0.5);
        text-align: center;
        color: white;
        padding: 30px;
        margin-bottom: 80px;
        border-radius: 40px;
     }
     .rewardabout p{
        padding: 30px;
        background-color:rgb(145 84 5);
        font-size: 25px;
        box-shadow: 0px 15px 45px rgba(66, 61, 61, 0.5);
        border-radius: 40px;
        margin-bottom: 70px;
        color: white;
     }

      .rewardabout a{
        text-align: center;
        text-decoration: none;
        font-size: 28px;
        background-color: rgb(145 84 5);
        color: white;
        padding: 10px 20px;
        box-shadow: 0px 15px 45px rgba(145, 84, 5, 0.5);
        border-radius: 35px;
        
      }
/* end reward section  */

/* start about section */

#company{
    width: 90%;
    display: flex;
    /* padding-top: 150px; */
    margin: auto;
}
.company{
    text-align: center;
    font-size: 30px;
    color: rgb(145 84 5) ;
    margin-top: 150px;
    margin-bottom: 40px;
}
.company-img{
    flex: 1;
}
.company-img img{
    width: 100%;
}
.company-about{
    width: 50%;
    flex: 1;
}
.company-about p{
    color: rgb(145 84 5) ;
    font-size: 20px;
    text-indent: 100px;
    text-align: justify;
    padding-left: 30px;
}

#coffee-about{
    padding-top: 80px;
    margin: auto;
    display: flex;
    width: 90%;
}
.coffee-about{
    flex: 1;
    width: 100%;
}
.coffee-about p{
    color: rgb(145 84 5) ;
    font-size: 20px;
    text-indent: 100px;
    text-align: center;
    padding-right: 30px; 
    text-align: justify;
}
.coffee-img{
    flex: 1;
}
.coffee-img img{
    width: 100%;
}

/* end about section */

/* start footer section */

#footer{
    margin-top: 40px;
    text-align: center;
    padding: 100px 0 30px;
    margin: auto;
}
.h3{
    font-size: 30px;
    color:  rgb(100, 58, 2);
}
.footer-item{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px 10px; */
    color:  rgb(100, 58, 2);
}
.footer-item h5{
    margin-bottom: 40px;
}
.footer-under{
    color:  rgb(100, 58, 2);
    padding: 30px;
    /* background-color:  rgb(100, 58, 2); */
}

.newsletter-full {
    grid-column: 1 / span 3; /* Column ၁ ကနေ ၃ အထိ အပြည့်ယူမယ်လို့ ပြောတာပါ */
    border-top: 1px solid rgba(100, 58, 2, 0.2); /* အပေါ်ကဆိုင်ခွဲတွေနဲ့ ခြားသွားအောင် မျဉ်းလေးတားတာပါ */
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.newsletter-full p{
    padding:20px 0
}

.footer-email input,button{
    padding: 8px 20px;
    border-radius: 10px;
}
/* Social Links ကိုလည်း တစ်ကြောင်းလုံး အပြည့်ယူစေခြင်း */
.social-full {
    grid-column: 1 / span 3;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* Social Icons လေးတွေကို အလယ်မှာ ဘေးတိုက်စီရန် */
.icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 30px;
    margin-top: 10px;
}

.icons a {
    color: rgb(100, 58, 2);
    text-decoration: none;
}
/* end footer section */
