body{
    background-color: rgba(205, 209, 212, 0.636);
}


#zin{
    color: #f1340a;
    text-align: center;
    text-transform: uppercase;
}

#form{
    width: 40%;
    margin: auto;
}

input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;

}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    border: 2px solid lab(98.64% 1.66 0.58 / 0.764);

}

input[type="radio"]:checked + label{
    color: blue;
}

input[type="checkbox"]:enabled + label{
    color: #f1340a;
}

input[type="checkbox"]:checked + label{
    font-style: italic;
    color: rgb(203, 203, 12);
}


input[type="checkbox"]:disabled+ label{
    color: #716a69;
}

ul li:first-child{
    background-color: blue;
}

ul li:last-child{
    background-color: rgb(49, 201, 7);
}

ul li:nth-child(4){
    background-color: rgb(235, 19, 195);
}

#lu{
    width: 100px;
    height: 40px;
    border: 1px;
    border-radius: 5px;
}
#lu:hover{
    color:green;
    background-color: #716a69;
}

p:empty{
    background-color: aqua;
    height: 20px;
}