*{
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

.nav-logo{
    width: 120px;
    height: 80px;
    margin-top: 10px;
    margin-left: 30px;
}

.nav-tag{
    float: right;
}

.nav-tag li{
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-right: 30px;
    padding: 5px;
}

.nav-tag li a{
    text-decoration: none;
    font-size: 20px;
    color: #0f0909;
}

.nav-button{
    border: 1px solid #2b41e8;
    border-radius: 10px;
    background-color: #2b41e8;
    padding: 6px 20px;
    color: #ffffff !important;
}

